h1{
    text-align: center;
    font-size: 2.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.metin{
    height: max-content;
    width: max-content;
    background-color: yellowgreen;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-radius: 8px;
}

.bigmit{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(73, 56, 202);
    align-items: center;
    height: 70px;
    width: 1200px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 10px;
}

.bigmit a {
    text-decoration: none;
    font-size: 24px;
    color: black;
}

ul{
    list-style-type:none;
    padding-left: 10px;  
}

li{
    margin: 2px, 2px, 2px, 2px;
}

a:hover,
a:active 
{
    color: white;
    font-size:30px;
}


button{
    background-color: rgb(41, 234, 23);
    padding: 3px 3px 3px 3px;
    text-decoration: none;
    
}

button:hover, button:active{
    background-color: black;
    color: white;
    font-size:20px;
}

h2{
    text-align: center;
}